# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/.name
.idea/inspectionProfiles/
.idea/libraries/Hibernate_5_2_10_5_2_10.xml
.idea/workspace.xml

